/* TEXT */
body {
  /* font-family: 'Playfair Display', serif; */
}

p {
  font-size: small;
  font-family: 'Playfair Display', serif;
  padding-top: 10px;
  padding-right: 10px;
}

div.tiny {
  font-size: small;
}

h1, h3  {
  line-height: 5%;
}

h6 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  padding: 0px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 7px;
  margin-left: -2px;
}

h7 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
}

h8 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 100%;
}

div.submenu {
  font-family: 'Dynalight', cursive;
  font-size: x-large;
  color: #ffffff;
  margin-top: -8px;
  padding-left: 10px;
}

h10 {
  font-size: small;
  font-family: 'Playfair Display', serif;
  /* padding-top: 10px;
  padding-right: 10px;
  margin-left: 10px; */
}

/* END TEXT */

/* LINKS */

a:hover {
  color: #666D63 !important;
}

a:link, :visited {
  color: #BF5241;
}

/* END LINKS */


/* DERIVE FINDER LAYOUT */

#wrap {
   width:1250px;
   margin:0 auto;
}

#left_col {
   float:left;
   width:600px;
}

.column4 {
  float: left;
  width: 30%;
  height: 290px;
  padding: 10px;
}

.row4:after {
  content: "";
  display: table;
  clear: both;
}

/* END DERIVE FINDER LAYOUT */

/* IMAGES */
img:hover {
background-color: transparent;
}

/* END IMAGES */

/* HEADER MENU */

#menu-link{
  color: #black;
  font-family: 'Playfair Display', serif;
}
#menu-link:hover{
  color: #85746B !important;
  background-color: #D2BD9D;
  /* opacity: 0.6; */
}

.above-header{
  background-color: #bf5241;
  padding: 10px;
  padding-bottom: 20px;
}
#top-menu{
  margin-top: 0px;
  margin-bottom: 0px;
}

/* END MENU */

/* DESTINATION INDEX PAGE */

.gallery {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 2fr));
    grid-gap: 20px;
}

.gallery-image {
    box-shadow: 4px 4px 4px lightgray;
    object-fit: cover;
    object-position: 100% 0;
    width:100%;
    height: 170px;
}

.gallery-image:hover {
    opacity: 0.7;
}

/* END DESTINATION INDEX PAGE */

/* WRAPPER FOR DESTINATION SHOW PAGE */

.wrapper {
  padding-right: 100px;
  padding-top: -10px;
  margin-bottom: -10px;
}

/* END WRAPPER FOR DESTINATION SHOW PAGE */

/* WRAPPER FOR DESTINATION SHOW PAGE ADD/REMOVE BUTTON */

#user-button {
  float: right;
  margin-top: 7px;
  margin-right: 3px;
}

/* END WRAPPER FOR DESTINATION SHOW PAGE ADD/REMOVE BUTTON */

.content2 {
  padding-left: 10px;
}
