/* TEXT */
body {
  /* font-family: 'Playfair Display', serif; */
}

p {
  font-size: small;
  font-family: 'Playfair Display', serif;
  padding-top: 10px;
  padding-right: 10px;
}

div.tiny {
  font-size: small;
}

h1, h3  {
  line-height: 5%;
}

h7 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
}



h8 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 100%;
}

div.submenu {
  font-family: 'Dynalight', cursive;
  font-size: x-large;
  color: #ffffff;
  margin-top: -8px;
  padding-left: 10px;
}

/* LINKS */

/* mouse over link */
a:hover {
  color: #FD0CC8;
}

/* DERIVE FINDER LAYOUT */

#wrap {
   width:1250px;
   margin:0 auto;
}

#left_col {
   float:left;
   width:600px;
}

.column4 {
  float: left;
  width: 30%;
  height: 290px;
  padding: 10px;
}

.row4:after {
  content: "";
  display: table;
  clear: both;
}

/* IMAGES*/
img:hover {
background-color: transparent;
}

#menu-link{
  color: #black;
  font-family: 'Playfair Display', serif;
}
#menu-link:hover{
  color: white;
  background-color: #bf5241;
  opacity: 0.5;
}

.above-header{
  background-color: #bf5241;
  padding: 10px;
  padding-bottom: 20px;
}
#top-menu{
  margin-top: 0px;
  margin-bottom: 0px;
}
