/* TEXT */
body {
  font-family: Optima;
}

p {
  font-size: small;
}

div.tiny {
  font-size: small;
}

h1, h3  {
  line-height: 5%;
}

div.submenu {
  font-style: italic;
  font-family: cursive;
}

/* MENU BAR */

div.field_with_errors {
   display: inline;
 }

menu {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   width: 600px;
   right: 100px;
}

menuitem {
  float: left;
}

menuitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  padding-left: 13px;
  padding-right: 13px;
}

menuitem a:hover {
  background-color: #FD0CC8;
}

/* PAGE LAYOUT */

#wrap {
   width:1250px;
   margin:0 auto;
}

#left_col {
   float:left;
   width:600px;
}

.column4 {
  float: left;
  width: 30%;
  height: 250px;
  padding: 10px;
}

.row4:after {
  content: "";
  display: table;
  clear: both;
}
