<br><img src="http://picasion.com/gl/89/bFTz.gif"><br>
<i>your travel guide to destinations across the globe</i><br><br>


<img src="<%= @random.image %>" style="width:500px;">
<figcaption><%= @random.city %>, <%= @random.country %></figcaption>


<h3>New user?</h3>
<form action="/users/new">
  <input type="submit" value="Create your account"/>
</form><br>

<h3>Existing user?</h3>
<p>Log in form to go here</p>
